section#viewer .view[data-active-view="list"] {
    padding: 0;
    position: relative;

    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    header {
        display: flex;
        gap: 1rem;
        background-color: var(--bg-frame-color);
        border-bottom: solid 1px var(--border-color);
        padding: 1rem;

        .search {
            width: 100%;
            position: relative;
        }

        input[name="query"] {
            border-color: var(--border-color);
            background-color: var(--bg-second-color);
            padding: .6rem;
            padding-left: calc(16px + 1.5rem);
            width: 100%;
            border-radius: var(--border-radius);
            height: 100%;
        }

        label {
            font-size: 0;
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }

        #attach-resume {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
        #attach-resume.active {
            opacity: 1;

            img {
                filter: invert(85%) sepia(16%) saturate(1406%) hue-rotate(69deg) brightness(101%) contrast(87%);
            }
        }
    }

    .container {
        display: flex;
        flex: 1 1 auto;
        min-height: 0;
        position: relative;
    }

    nav.filters {
        min-width: 250px;
        width: 250px;
        border-right: solid 1px var(--border-color);
        padding: 1rem;

        > div:not(:last-child) {
            margin-bottom: 1rem;
        }

        label {
            color: var(--text-second-color);
            padding-bottom: .4rem;
        }

        select, .noUi-target {
            width: 100%;
        }
    }

    .result-wrapper {
        width: 100%;
        position: relative;
        overflow: hidden;

        .no-data {
            display: none;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            max-width: 300px;
            text-align: center;

            img {
                filter: invert(1) brightness(0.5);
            }
        }

        .loading {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: var(--bg-overlay-color);
            z-index: 10;

            #lottie-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .result-wrapper.empty .no-data {
        display: block;
    }
    .result-wrapper.waiting .loading {
        display: block;
    }

    .results {
        height: 100%;
        padding: 1rem;
        overflow-y: auto;
        overflow-x: hidden;

        .offer {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            position: relative;
            padding: 1rem;

            .content {
                width: calc(100% - 100px);
                padding-right: 40px;

                .score {
                    padding: .2rem .6rem;
                    border-radius: 20px;
                    --hue: calc(var(--value) * 1.3);
                    background-color: hsl(var(--hue) 55% 55%);
                }
            }

            .logo {
                height: 80px;
                width: 80px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-color: white;
                border-radius: var(--border-radius);
            }

            .title {
                margin-bottom: .4rem;
            }

            .info {
                display: flex;
                align-items: center;
                gap: .5rem;
                margin-bottom: .6rem;
            }

            .company {
                background-color: var(--bg-second-color);
                padding: .2rem .6rem;
                border-radius: 20px;
            }

            ul.tags {
                opacity: 0;
                transition: opacity .125s ease;
            }

            ul.tags > li {
                display: inline-block;
                padding: .2rem .6rem;
                background-color: var(--bg-color);
                border: solid 1px var(--border-color);
                border-radius: var(--border-radius);
            }

            .actions {
                display: none;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }

            .actions > li:not(:last-child) {
                margin-bottom: .6rem;
            }
        }

        .offer:hover {
            cursor: pointer;
            background-color: var(--bg-frame-color);
            border-radius: var(--border-radius);

            .title {
                text-decoration: underline;
            }

            ul.tags {
                opacity: 1
            }

            .actions {
                display: block;
            }
        }

        .offer.liked {
            .actions .icon-button.like img {
                filter: invert(85%) sepia(16%) saturate(1406%) hue-rotate(69deg) brightness(101%) contrast(87%);
            }
        }
        .offer.disliked {
            .actions .icon-button.dislike img {
                filter: invert(85%) sepia(16%) saturate(1406%) hue-rotate(69deg) brightness(101%) contrast(87%);
            }
        }
        .offer.saved {
            .actions .icon-button.save img {
                filter: invert(85%) sepia(16%) saturate(1406%) hue-rotate(69deg) brightness(101%) contrast(87%);
            }
        }
    }

    .refine {
        position: absolute;
        bottom: 0;
        right: 20px;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
        z-index: 20;
        display: grid;
        grid-template-rows: auto 0fr;
        transition: grid-template-rows 0.3s ease;

        .head {
            display: flex;
            gap: .5rem;
            align-items: center;
            background-color: var(--bg-second-color);
            padding: .6rem;
            border-radius: var(--border-radius) var(--border-radius) 0 0;

            img {
                transform: rotateZ(180deg);
                transition: transform .3s ease;
            }
        }

        .count {
            background-color: var(--bg-selected-color);
            padding: .4rem;
            border-radius: 20px;
        }

        .content {
            background-color: var(--bg-frame-color);
            padding: 0 .6rem;
            overflow: hidden;
            transition: padding .3s ease;
            
            .type {
                position: relative;
                margin-bottom: .6rem;

                p {
                    display: inline-block;
                    margin-right: .6rem;
                }

                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translateY(50%);
                    display: none;
                }
            }
            .type:hover button{
                display: block;
            }

            button.main-button {
                width: 100%;
            }
        }
    }
    .refine.active {
        grid-template-rows: auto 1fr;

        .content {
            padding: .6rem;
        }
    }

    .popup {
        h2, .fieldset {
            margin-bottom: 1rem
        }

        .fieldset {
            max-height: 25vh;
            overflow-y: auto;
        }

        .resume {
            display: flex;
            gap: .6rem;
            align-items: center;
            padding: .6rem 1rem;
            background-color: var(--bg-frame-color);
            border-radius: var(--border-radius);
            border: solid 1px var(--bg-frame-color);
            transition: border-color .125s ease;
        }
        .resume:not(:last-child) {
            margin-bottom: .6rem;
        }
        .resume:has(> input:checked) {
            border-color: var(--accent-color);

            h3 {
                color: var(--accent-color);
            }

            img {
                filter: invert(85%) sepia(16%) saturate(1406%) hue-rotate(69deg) brightness(101%) contrast(87%);
            }
        }
    }
}



.noUi-connect {
    background: var(--accent-color);
    border: solid 1px var(--accent-second-color);
}
.noUi-target {
    border-color: var(--border-color);
    width: calc(100% - 20px);
    margin: 6px 0;
    padding: 0 15px;
    background: var(--bg-frame-color);
    box-shadow: none;
}
.noUi-handle {
    border-color: var(--border-color);
    background: var(--bg-second-color);
    box-shadow: none;
}

.noUi-handle .noUi-tooltip {
    display: none;
    background: none;
    border: none;
    color: var(--text-color);
    padding: 0;
}
.noUi-handle:hover .noUi-tooltip {
    display: block;
}