section#viewer .view[data-active-view="map"] {
    padding: 0;
    position: relative;

    #map {
        height: 100%;
        background-color: black;
    }

    #map .leaflet-bar a {
        line-height: 24px;
    }

    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.85);
    }

    footer > p {
        display: inline-block;
    }
    footer > p:not(:last-child) {
        margin-right: .4rem;
    }
}

.leaflet-control-attribution {
    background-color: rgba(0, 0, 0, 0.85) !important;
}
.leaflet-control-attribution a {
    color: var(--text-second-color) !important;
}


.leaflet-bar {
    border: 1px solid var(--border-color) !important;
}

.leaflet-bar a {
    background-color: var(--bg-overlay-color) !important;
}
.leaflet-bar a:not(:last-child) {
    border-bottom: 1px solid var(--border-color) !important;
}