<div class="content">
    <h2>{{ title }}</h2>
    <form autocomplete="off">
        <div class="drop-area">
            <img src="{{ url_for('static', filename='images/' ~ fileicon ~ '.svg') }}" alt="" height="16px">
            <input type="file" id="file-input" name="file" required hidden>
            <p>Déposer un fichier</p>
        </div>
        <input type="text" placeholder="Nom" name="name" required autocomplete="off">
        <input type="text" placeholder="Description" name="description" required autocomplete="off">
        <div class="actions">
            <button class="second-button cancel">Annuler</button>
            <button type="submit" class="main-button disabled">Ajouter</button>
        </div>
    </form>
</div>
