<div class="model-grid">
    <div class="model-container" data-model-name="tfidf">
        <div class="title">
            <img src="{{ url_for('static', filename='images/vector.svg') }}" height="26px">
            <h1>TF-IDF Vectorizer</h1>
        </div>
        <ul class="features">
            <li>
                <img src="{{ url_for('static', filename='images/smart.svg') }}" alt="" height="12px">
                <p>--</p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/fit.svg') }}" alt="" height="12px">
                <p>--</p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/stack.svg') }}" alt="" height="12px">
                <p>--</p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/node.svg') }}" alt="" height="12px">
                <p>--</p>
            </li>
        </ul>
        <div class="model">
            <div class="info">
                <h3 class="label">--</h3>
                <p class="date second"></p>
            </div>
            <form class="actions">
                <button class="icon-button settings" type="button">
                    <img src="{{ url_for('static', filename='images/settings.svg') }}" alt="" height="16px">
                </button>
                <input type="number" name="min_df" value="3" hidden>
                <input type="number" name="max_df" value="0.5" hidden>
                <button class="main-button" type="submit">
                    Entrainer
                </button>
            </form>
        </div>
        <h2>Liens entre les offres</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap</p>
    </div>
    <div class="model-container" data-model-name="kmeans">
        <div class="title">
            <img src="{{ url_for('static', filename='images/shapes.svg') }}" height="26px">
            <h1>Kmeans</h1>
        </div>
        <ul class="features">
            <li>
                <img src="{{ url_for('static', filename='images/smart.svg') }}" alt="" height="12px">
                <p>--</p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/fit.svg') }}" alt="" height="12px">
                <p>--</p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/stack.svg') }}" alt="" height="12px">
                <p>--</p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/dimension.svg') }}" alt="" height="12px">
                <p>--</p>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/shapes.svg') }}" alt="" height="12px">
                <p>--</p>
            </li>
        </ul>
        <div class="model">
            <div class="info">
                <h3 class="label">--</h3>
                <p class="date second"></p>
            </div>
            <form class="actions">
                <button class="icon-button settings" type="button">
                    <img src="{{ url_for('static', filename='images/settings.svg') }}" alt="" height="16px">
                </button>
                <input type="number" name="K" value="5" hidden>
                <button class="main-button" type="submit">
                    Entrainer
                </button>
            </form>
        </div>
        <h2>Clustering des offres</h2>
        <p>Ce modèle de clustering K-means segmente les offres d'emploi en exploitant les variables latentes extraites via une matrice TF-IDF des descriptions textuelles, assurant une structuration thématique fine du corpus. Le modèle est entraîné sur les 50 premières composantes issues d’une SVD afin de réduire le bruit et optimiser l’apprentissage.</p>
        <h2>Projections sur le plan</h2>
        <p>Les clusters sont ensuite projetés en 2D ou 3D au moyen d’un t-SNE, méthode de réduction de dimension conservant les relations de voisinage pour une représentation factorielle interprétable.</p>
    </div>
</div>