<div class="plot-grid">
    <div class="plot-container" id="top-offers-plot">
        <img src="{{ url_for('static', filename='images/cluster_placeholder.svg') }}" alt="" class="placeholder">
    </div>
    <div class="plot-container" id="contract-plot">
        <img src="{{ url_for('static', filename='images/cluster_placeholder.svg') }}" alt="" class="placeholder">
    </div>
    <div class="plot-container" id="experience-plot">
        <img src="{{ url_for('static', filename='images/cluster_placeholder.svg') }}" alt="" class="placeholder">
    </div>
</div>