<div class="plot-grid">
    <div class="plot-container" id="experience-plot">
        <img src="{{ url_for('static', filename='images/box_placeholder.svg') }}" alt="" class="placeholder" height="100%">
    </div>
    <div class="plot-container" id="contract-plot">
        <img src="{{ url_for('static', filename='images/circle_placeholder.svg') }}" alt="" class="placeholder" height="100%">
    </div>
    <div class="plot-container" id="top-offers-plot">
        <img src="{{ url_for('static', filename='images/box_placeholder.svg') }}" alt="" class="placeholder" height="100%">
    </div>
</div>