<div>
   <ul class="actions">
      <li>
         <button class="quick-button" id="create-resume-button">
            <img src="{{ url_for('static', filename='images/plus.svg') }}" alt="" height="12px">
            <p>Ajouter CV</p>
         </button>
      </li>
      <li>
         <button class="quick-button" id="create-coverletter-button">
            <img src="{{ url_for('static', filename='images/plus.svg') }}" alt="" height="12px">
            <p>Lettre de motivation</p>
         </button>
      </li>
      <li>
         <button class="quick-button" id="create-email-button">
            <img src="{{ url_for('static', filename='images/plus.svg') }}" alt="" height="12px">
            <p>Email</p>
         </button>
      </li>
   </ul>
   <div class="category">
      <div class="foldable">
         <h2>CV</h2>
         <img src="{{ url_for('static', filename='images/down-arrow.svg') }}" alt="" height="20px">
      </div>
      <ul class="docs" data-category="resume"></ul>
   </div>
   <div class="category">
      <div class="foldable">
         <h2>Lettres de motivation</h2>
         <img src="{{ url_for('static', filename='images/down-arrow.svg') }}" alt="" height="20px">
      </div>
      <ul class="docs" data-category="coverletter"></ul>
   </div>
   <div class="category">
      <div class="foldable">
         <h2>Email</h2>
         <img src="{{ url_for('static', filename='images/down-arrow.svg') }}" alt="" height="20px">
      </div>
      <ul class="docs" data-category="email"></ul>
   </div>
</div>