/* Text */

p.second {
    color: var(--text-second-color)
}

p.third {
    color: var(--text-third-color)
}

p.error {
    color: var(--bad-color);
}

/* Buttons */

button.quick-button {
    display: flex;
    gap: .2rem;
    align-items: center;
    padding: .2rem .4rem;
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--bg-second-color);
}

button.icon-button {
    background-color: inherit;
    border: none;
}

button.second-button {
    background-color: var(--bg-selected-color);
    border-radius: var(--border-radius);
    border: solid 1px var(--border-color);
    padding: .4rem .8rem;
    font-weight: 400;
}

button.main-button {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    border: solid 1px var(--accent-second-color);
    padding: .4rem .8rem;
    color: white;
    font-weight: 400;
}

button {
    transition: opacity .125s ease;
}
button:hover {
    opacity: .8;
}

button.disabled {
    opacity: 50%;
}

/* Tabs menu */

nav.tabs {
    background-color: var(--bg-second-color);
    border-bottom: solid 1px var(--border-color);
}

nav.tabs li {
    padding: .4rem .6rem;
    display: inline-block;
}
nav.tabs li:hover {
    background-color: var(--bg-selected-color);
}
nav.tabs li.selected {
    color: var(--accent-color);
    /* border-bottom: solid 2px var(--accent-color); */
    box-shadow: inset 0 -2px var(--accent-color);
}

/* Footer */

footer {
    padding: .2rem .4rem;
    border-top: solid 1px var(--bg-selected-color);
}

footer p {
    font-size: 12px;
}

/* Inputs */

input[type="text"] {
    border-radius: var(--border-radius);
    border: solid 1px var(--border-color);
    padding: .6rem;
}

/* Drop area */

.drop-area {
    height: 10rem;
    border-radius: 8px;
    border: solid 1px var(--border-color);
    padding: .4rem;
    background-color: var(--bg-second-color);
    display: grid;
    align-items: center;
    justify-content: center;
    transition: border-color .3s ease;

    p {
        color: var(--text-second-color);
    }
}
.drop-area.dragover {
    border-color: var(--accent-color);

    p {
        color: var(--accent-color);
    }
}

/* Popups */

.popup {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.popup .content {
    width: 30rem;
    background-color: var(--bg-color);
    border: solid 1px var(--border-color);
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup .content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.popup .content .actions {
    display: flex;
    gap: .4rem;
}

.popup .content .actions button {
    width: 100%;
}