/* Text */

p.second {
    color: var(--text-second-color)
}

p.third {
    color: var(--text-third-color)
}

p.error {
    color: var(--bad-color);
}

/* Buttons */

button.quick-button {
    display: flex;
    gap: .2rem;
    align-items: center;
    padding: .2rem .4rem;
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--bg-second-color);
}

button.icon-button {
    background-color: inherit;
    border: none;
}

/* Tabs menu */

nav.tabs {
    background-color: var(--bg-second-color);
    border-bottom: solid 1px var(--border-color);
}

nav.tabs li {
    padding: .4rem .6rem;
    display: inline-block;
}
nav.tabs li:hover {
    background-color: var(--bg-selected-color);
}
nav.tabs li.selected {
    color: var(--accent-color);
    /* border-bottom: solid 2px var(--accent-color); */
    box-shadow: inset 0 -2px var(--accent-color);
}

/* Footer */

footer {
    padding: .2rem .4rem;
    border-top: solid 1px var(--bg-selected-color);
}

footer p {
    font-size: 12px;
}