section#console .view[data-active-view="clusters"] {
    padding: 0;
    padding-right: 1rem;
    background-color: var(--bg-frame-color);

    .cluster-grid {
        display:flex;
    }

    .cluster-container {
        width: 100%;

        .placeholder {
            width: 100%;
            height: 100%;
            opacity: 0%;
            animation: fade 1s ease-in-out infinite alternate;
        }

        #scene {
            height: 100% !important;
        }
    }
}


@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: .8;
  }
}