section#console .view[data-active-view="statistics"] {
   padding: .2rem 1rem;
   background-color: var(--bg-frame-color);

   .plot-grid {
      display: flex;
   }

   .plot-container {
      width: 100%;

      .placeholder {
         width: 100%;
         height: 100%;
         opacity: 0%;
         animation: fade 1s ease-in-out infinite alternate;
         display: none;
      }

      #scene {
         height: 100% !important;
      }
   }

   #contract-plot {
      width: 50%;
   }

   .plot-grid.waiting {

      .plotly {
         display: none;
      }

      .placeholder {
         display: block;
      }
   }
}


@keyframes fade {
   from {
      opacity: 0.1;
   }
   to {
      opacity: .8;
   }
}