section#source .view:is([data-active-view="ntne"], [data-active-view="apec"]) {
    overflow: scroll;

    .origin {
        margin-bottom: 1rem;
    }
    .origin p {
        display: inline-block;
    }

    .database {
        display: flex;
        justify-content: space-between;
        background-color: var(--bg-second-color);
        border-radius: var(--border-radius);
        padding: .6rem;
        position: relative;
        overflow: hidden;

        .progress {
            position: absolute;
            z-index: 5;
            left: 0;
            top: 0;
            width: 0px;
            background-color: var(--good-color);
            height: 3px;
            transition: width 1s ease;
        }
        .progress.error {
            background-color: var(--bad-color);
            .progress {
                background-color: var(--bad-color);
            }
        }

        .status, .actions {
            z-index: 10;
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        .status_icon {
            height: 16px;
            width: 16px;
            background-color: var(--good-color);
            border-radius: 50%;
        }
    }

    .database.waiting {
        .progress {
            animation: waiting 2s ease-in-out infinite alternate;
        }
    }

    .database.error {
        .status_icon {
            background-color: var(--bad-color);
        }

        .progress {
            background-color: var(--bad-color);
        }
    }

    table.summary {
        border-collapse: collapse;
        width: 100%;
        margin-top: 1rem;

        thead {
            background-color: var(--bg-second-color);
        }

        th, td {
            border: 1px solid #ccc;
            padding: .2rem .5rem;
            text-align: left;
        }

        td.name {
            font-weight: 700;
        }

        td.false {
            color: #bb7742;
        }
        td.true {
            color: #4271bb;
        }
        td.na, td.id {
            color: var(--good-color);
        }
        td.type {
            color: var(--text-second-color);
        }
    }

}



@keyframes waiting {
    0% {
        left: 0;
        width: 20px;
    }

    50% {
        width: 50px;
    }
    100% {
        left: calc(100% - 20px);
        width: 20px;
    }
}
