<div class="wrapper">

<textarea id="md-content" style="display: none;"></textarea>
<iframe src="" width="100%" height="100%" style="border:none;"></iframe>
<div class="file-manager">
    <div class="container load">
        <h1>Mes documents</h1>
        <ul></ul>
    </div>
    <div class="container create">
        <h1>Créer un document</h1>
        <ul>
            <li>
                <div class="action create-resume">
                    <img src="{{ url_for('static', filename='images/plus.svg') }}" alt="" height="12px">
                    <h3>Ajouter un CV</h3>
                </div>
            </li>
            <li>
                <div class="action create-coverletter">
                    <img src="{{ url_for('static', filename='images/plus.svg') }}" alt="" height="12px">
                    <h3>Créer une lettre de motivation</h3>
                </div>
            </li>
            <li>
                <div class="action create-email">
                    <img src="{{ url_for('static', filename='images/plus.svg') }}" alt="" height="12px">
                    <h3>Créer un email</h3>
                </div>
            </li>
        </ul>
    </div>
</div>

</div>