<form class="wrapper" id="search-form" autocomplete="off">
    <header>
        <div class="search">
            <label for="query">
                <img src="{{ url_for('static', filename='images/search.svg') }}" alt="" height="16px">
            </label>
            <button class="icon-button" id="attach-resume" type="button">
                <img src="{{ url_for('static', filename='images/resume.svg') }}" alt="" height="16px">
                <input type="text" name="resume" hidden>
            </button>
            <input type="text" name="query" placeholder="Rechercher un terme" autocomplete="off" required>
        </div>
        <select name="order" id="search-order">
            <option value="score">Pertinance</option>
            <option value="date">Date</option>
        </select>
    </header>
    <div class="container">
        <nav class="filters">
            <div class="salary">
                <label>Salaire</label>
                <div class="salary-slider" name="salary"></div>
            </div>
            <div class="category">
                <label>Categorie</label>
                <select name="category">
                    <option value="all">Tous</option>
                    <option value="0">Développement et Architecture Technique</option>
                    <option value="1">Développement Commercial et Stratégie d'Entreprise</option>
                    <option value="2">Gestion de la Qualité et Production</option>
                    <option value="3">Data et Intelligence Artificielle</option>
                    <option value="4">Comptabilité et Soins Sociaux</option>
                </select>
            </div>
            <div class="company">
                <label>Entreprise</label>
                <select name="company">
                    <option value="all">Tous</option>
                    <option value="iveco">IVECO</option>
                </select>
            </div>
            <div class="city">
                <label>Ville</label>
                <select name="city">
                    <option value="all">Tous</option>
                    <option value="iveco">Lyon</option>
                </select>
            </div>
        </nav>
        <div class="result-wrapper empty">
            <div class="no-data">
                <img src="{{ url_for('static', filename='images/search.svg') }}" alt="" height="16px">
                <p class="second">Recherchez un terme, liez votre CV et filtrez les résultats</p>
            </div>
            <div class="loading">
                <div id="lottie-container" style="width: 300px; height: 300px;" data-url="{{ url_for('static', filename='images/loading.json') }}"></div>
            </div>
            <ul class="results"></ul>
        </div>
        <div class="refine">
            <div class="head">
                <p class="count">0</p>
                <h3>Affiner la recherche</h3>
                <img src="{{ url_for('static', filename='images/down-arrow.svg') }}" alt="" height="16px">
            </div>
            <div class="content">
                <div class="likes type">
                    <p class="count">0</p>
                    <p>« J'aime »</p>
                    <button class="icon-button" type="button">
                        <img src="{{ url_for('static', filename='images/cross.svg') }}" alt="" height="12px">
                    </button>
                </div>
                <div class="dislikes type">
                    <p class="count">0</p>
                    <p>« Je n'aime pas »</p>
                    <button class="icon-button" type="button">
                        <img src="{{ url_for('static', filename='images/cross.svg') }}" alt="" height="12px">
                    </button>
                </div>
                <button class="main-button refine-button" type="button">Affiner</button>
            </div>
        </div>
    </div>
</form>