<div>
    <div class="search-container">
        <div class="search" autocomplete="off">
            <label for="search-input">
                <img src="{{ url_for('static', filename='images/search.svg') }}" alt="" height="16px">
            </label>
            <input type="text" id="search-input" placeholder="Rechercher une offre" autocomplete="off">
        </div>
        <ul class="filters"></ul>
        <div class="results">
            <ul class="offers"></ul>
        </div>
        <div class="footer">
            <p class="second count">--</p>
            <p class="second">France</p>
        </div>
    </div>
    <div id="map" style="height: 100%">
        <div class="loading">
            <div id="lottie-container" style="width: 300px; height: 300px;" data-url="{{ url_for('static', filename='images/loading.json') }}"></div>
        </div>
    </div>
    <footer>
        <p class="second coo"></p>
        <p class="second"></p>
        <p class="second zomm"></p>
    </footer>
</div>