section#documents .view[data-active-view="templates"] {
    overflow: scroll;
    > div {
        height: auto !important;
    }

    .actions {
        display: flex;
        gap: .6rem;
    }

    .category {
        margin-top: 1rem;
    }

    .category .foldable {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px var(--bg-selected-color);
    }
    .category .foldable:hover {
        background-color: var(--bg-frame-color);
    }

    .category .foldable img {
        transition: transform .3s ease;
    }

    .docs {
        overflow: hidden;
        height: fit-content;
        transition: height ease 1s;
    }

    .docs > p {
        margin-top: .6rem;
    }

    .docs .wrapper .more {
        position: absolute;
        right: 1rem;
    }

    .docs .wrapper .more .actions {
        display: none;
    }

    .docs .wrapper:hover .more .actions {
        display: block;
    }
    .docs .wrapper:hover .more .date {
        display: none;
    }

    .docs .wrapper .more .actions button:not(:first-child) {
        margin-left: .4rem;
    }

    .docs .wrapper .more .actions #delete {
        filter: invert(59%) sepia(70%) saturate(5856%) hue-rotate(336deg) brightness(115%) contrast(93%);
    }

    .category.folded .docs {
        height: 0px
    }
    .category.folded .foldable img {
        transform: rotate(180deg);
    }
}