section#documents .view[data-active-view="templates"] {

    .actions {
        display: flex;
        gap: .6rem;
    }

    .category {
        margin-top: 1rem;
    }

    .category .foldable {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px var(--bg-selected-color);
    }
    .category .foldable:hover {
        background-color: var(--bg-second-color);
    }

    .category .foldable img {
        transition: transform .3s ease;
    }

    .docs {
        overflow: hidden;
        height: fit-content;
        transition: height ease 1s;
    }

    .docs li {
        position: relative;
        display: flex;
        gap: .6rem;
        align-items: center;
        padding: .6rem 1rem;
        background-color: var(--bg-second-color);
        border-radius: var(--border-radius);
        margin-top: .6rem;
    }

    .docs > p {
        margin-top: .6rem;
    }

    .docs li .more {
        position: absolute;
        right: 1rem;
    }

    .docs li .more .actions {
        display: none;
    }

    .docs li:hover .more .actions {
        display: block;
    }
    .docs li:hover .more .date {
        display: none;
    }

    .docs li .more .actions button:not(:first-child) {
        margin-left: .4rem;
    }

    .docs li .more .actions #delete {
        filter: invert(59%) sepia(70%) saturate(5856%) hue-rotate(336deg) brightness(115%) contrast(93%);
    }
    .docs li .more .actions button {
        opacity: .5;
    }
    .docs li .more .actions button:hover {
        opacity: 1;
    }

    .category.folded .docs {
        height: 0px
    }
    .category.folded .foldable img {
        transform: rotate(180deg);
    }
}