<div>
    <div class="origin">
        <p>Origine :</p>
        <a href="https://nostalentsnosemplois.auvergnerhonealpes.fr/jobs?what=data">nostalentsnosemplois.auvergnerhonealpes.fr</a>
    </div>
    <div class="database" data-source="NTNE">
        <div class="status">
            <div class="status_icon"></div>
            <h3 id="label">--</h3>
        </div>
        <div class="actions">
            <p class="second date">--</p>
            <button class="icon-button" id="update">
                <img src="{{ url_for('static', filename='images/reload.svg') }}" alt="Reload" height="14px" width="14px">
            </button>
        </div>
    </div>
    <table class="summary">
    </table>
</div>